$iconSpritePath: "images/glyphicons-halflings.png";
$iconWhiteSpritePath: "images/glyphicons-halflings-white.png";

#hero {
    padding-top: 50px;
    padding-bottom: 50px;
	background-color: #FFFFFF;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 1%, #f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 1%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
	height: auto;
	padding-bottom: 50px;
	border-bottom: 1px solid `#d1d2d4;
	box-shadow: 0px 3px 8px 0px #e7e7e7;
}


#hero h1 {
	font-size: 25px;
}
#hero p {
	text-align: justify;
}

body{
	background: #DDDCE2 url(images/content_bg.jpg) repeat left top;
	font-size: 14px;
}


/* introduction heading section*/
#intro {
	text-align: center;
	margin-top: 50px;
}

#intro h1 {
	width: 55%;
	font-size: 28px;
	margin: 0 auto;
	color: #252B34;
	font-weight: normal;
	text-shadow: white 2px 2px 1px;
}


/* section header */
.section_header {
	text-align: center;
	font-weight: bolder;
	color: #252b34;
	margin-top: 80px;
	position: relative;
	margin-bottom: 40px;
}
.section_header.left span {
	margin-left: 0px;
	text-align: left;
}
.section_header hr {
	border-top: 1px solid #BEC0C3;
	border-bottom: 2px solid white;
	width: 36%;
	position: absolute;
}
.section_header hr.left { }
.section_header hr.right {
	right: 0px;
	top: 0px;
}
.section_header span {
	width: 27%;
	display: block;
	margin: 0 auto;
}
.section_header small {
	margin-left: 20px;
	font-size: 16px;
	color: #7f8387;
	display: none;
}

h3.intro {
	font-weight: normal;
	padding-bottom: 50px;
}

h2.section_header {
	font-weight: normal;
	font-style: italic;
	font-size: 22px;
}


/* pricing charts section */
#pricing { }
#pricing .section_header {
	margin-bottom: 70px;
}
#pricing .section_header hr {
	width: 35%;
}
#pricing .price_wrapper {
	background-color: #fafafa;
	border: 1px solid #d9d9d9;
	box-shadow: 2px 5px 5px 2px #E8E8E8;
	border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	width: 321px;
	min-height: 375px;
	position: relative;
}
#pricing .price_wrapper.regular .header {
	background: url('../images/chart1.png') 0 0 no-repeat;
}
/*
#pricing .price_wrapper.pro {
	width: 331px;
	margin: 0 auto;
}
*/
#pricing .price_wrapper.pro .header {
	background: url('../images/chart2.png') 0 0 no-repeat;
}
#pricing .price_wrapper section .btn {
	left: 35%;
}
#pricing .price_wrapper .header {
	height: 98px;
	color: #fff;
	padding: 25px 0px 0px 40px;
}
#pricing .price_wrapper .header > span {
	font-size: 30px;
	font-style: italic;
}
#pricing .price_wrapper .header .price {
	font-size: 18px;
	top: 25px;
	position: relative;
	font-weight: bold;
}
#pricing .price_wrapper .header .price span {
	font-size: 30px;
	margin-right: 10px;
}
#pricing .price_wrapper .section {
	padding: 15px 30px;
}
#pricing .price_wrapper .section h3 {
	color: #535861;
	font-size: 17px;
	line-height: 22px;
}
#pricing .price_wrapper .section ul.perks {
	list-style-type: none;
	margin-left: 0px;
	margin-top: 18px;
}
#pricing .price_wrapper .section ul.perks li {
	padding: 3px 0px;
}
#pricing .price_wrapper .section ul.perks i {
	margin-right: 10px;
}
#pricing .price_wrapper .section .btn {
	position: absolute;
	bottom: 15px;
	left: 32%;
	font-weight: bold;
}
@media (min-width: 980px) {
	#pricing .price_wrapper.pro {
		position: relative;
		top: -20px;
		height: 420px;
		z-index: 9;
		box-shadow: 0px 0px 5px 4px #E8E8E8;
	}
}


/* Row Bar */

.row-tools {
    background: rgba(0, 0, 0, 0) url(../images/down-red.png) no-repeat scroll 50% -1px / auto padding-box border-box;
    border-top: 16px solid rgb(255, 69, 81);
    border-right: 0px solid rgb(255, 69, 81);
    border-bottom: 0px solid rgb(255, 69, 81);
    border-left: 0px solid rgb(255, 69, 81);
}

.section h1 {
    text-align: center;
    text-decoration: none solid rgb(35, 45, 51);
    text-rendering: optimizelegibility;
    font: normal normal bold 64px/85px Lato, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-bottom: 30px;
    font-size: 34px;
}

/*******/
.on-light {
    background-position: 50% 50%;
    text-decoration: none solid rgb(51, 51, 51);
    text-rendering: optimizelegibility;
    background: rgb(236, 236, 235) url(../images/bg1.jpg) no-repeat scroll 50% 50% / cover padding-box border-box;
    overflow: hidden;
}

.description {
    color: rgb(54, 58, 58);
    display: inline-block;
    height: 250px;
    text-align: left;
    text-decoration: none solid rgb(54, 58, 58);
    vertical-align: middle;
    width: 200px;
    border: 0px none rgb(54, 58, 58);
    margin: 14.399999618530273px 0px;
    outline: rgb(54, 58, 58) none 0px;
    padding: 5px 40px;
    clear: both;
    color: rgb(35, 45, 51);
    cursor: default;
    height: 42.4375px;
    max-width: 736px;
    text-align: center;
    text-decoration: none solid rgb(35, 45, 51);
    word-break: break-word;
    border: 0px solid rgb(224, 224, 224);
    font: normal normal normal 16px/21px Lato, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 102.40625px;
    outline: rgb(35, 45, 51) solid 0px;
    padding: 0px 89.59375px 67.1875px;
}

.section {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    padding: 50px 0px;
}

.learn {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 332.5px 15px;
    outline: rgb(34, 34, 34) none 0px;
}

.image-left {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    float: left;
    height: 1px;
    min-height: 1px;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 460px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 15px;
}

.proof-content {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    float: right;
    height: 279px;
    min-height: 1px;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 460px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 15px 0px 40px;
}

.proof-content h3 {
    box-sizing: border-box;
    color: rgb(56, 64, 71);
    height: 33px;
    text-decoration: none solid rgb(56, 64, 71);
    text-rendering: optimizelegibility;
    width: 407px;
    border: 0px none rgb(56, 64, 71);
    font: normal normal 500 30px/33px 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
    margin: 0px 0px 15px -2px;
    outline: rgb(56, 64, 71) none 0px;
}

.proof-content p {
    box-sizing: border-box;
    color: rgb(100, 102, 108);
    height: 130px;
    text-decoration: none solid rgb(140, 152, 158);
    text-rendering: geometricprecision;
    width: 405px;
    border: 0px none rgb(140, 152, 158);
    font: normal normal normal 16px/26px 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
    margin: 0px 0px 17px;
    outline: rgb(140, 152, 158) none 0px;
}

.callout-link {
    box-sizing: border-box;
    color: rgb(56, 64, 71);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    text-decoration: none solid rgb(56, 64, 71);
    text-rendering: geometricprecision;
    width: 197px;
    border: 0px none rgb(56, 64, 71);
    font: normal normal bold 16px/16px 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
    margin: 30px 0px 0px;
    outline: rgb(56, 64, 71) none 0px;
}

#icon-arrow-right-dark {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(56, 64, 71);
    cursor: pointer;
    display: inline-block;
    height: 12px;
    text-decoration: none solid rgb(56, 64, 71);
    text-rendering: geometricprecision;
    vertical-align: middle;
    width: 18px;
    background: rgba(0, 0, 0, 0) url(https://wac.a8b5.edgecastcdn.net/80A8B5/static-assets/assets/new-marketing/icon-arrow-right-7cdfbf214a36c8187100235ab81168cd.png) repeat scroll 0px 0px / 18px padding-box border-box;
    border: 0px none rgb(56, 64, 71);
    font: normal normal bold 16px/16px 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
    margin: -1px 0px 0px;
    outline: rgb(56, 64, 71) none 0px;
}

.image-right {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    float: left;
    height: 1px;
    left: 460px;
    min-height: 1px;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 460px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 15px;
}
.content-left {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    float: right;
    height: 271px;
    min-height: 1px;
    position: relative;
    right: 460px;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 460px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 30px 0px 15px;
}

.callout-link {
    box-sizing: border-box;
    color: rgb(56, 64, 71);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    text-decoration: none solid rgb(56, 64, 71);
    text-rendering: geometricprecision;
    width: 209px;
    border: 0px none rgb(56, 64, 71);
    font: normal normal bold 16px/16px 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
    margin: 30px 0px 0px;
    outline: rgb(56, 64, 71) none 0px;
}

