$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

#hero {
    padding-top: 50px;
    padding-bottom: 50px;
	background-color: #FFFFFF;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 1%, #f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 1%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
	height: auto;
	padding-bottom: 50px;
	border-bottom: 1px solid `#d1d2d4;
	box-shadow: 0px 3px 8px 0px #e7e7e7;
}


#hero h1 {
	font-size: 25px;
}
#hero p {
	text-align: justify;
}

body{
	background: #DDDCE2 url(/images/content_bg.jpg) repeat left top;
	font-size: 14px;
}


/* introduction heading section*/
#intro {
	text-align: center;
	margin-top: 50px;
}

#intro h1 {
	width: 55%;
	font-size: 28px;
	margin: 0 auto;
	color: #252B34;
	font-weight: normal;
	text-shadow: white 2px 2px 1px;
}


/* section header */
.section_header {
	text-align: center;
	font-weight: bolder;
	color: #252b34;
	margin-top: 80px;
	position: relative;
	margin-bottom: 40px;
}
.section_header.left span {
	margin-left: 0px;
	text-align: left;
}
.section_header hr {
	border-top: 1px solid #BEC0C3;
	border-bottom: 2px solid white;
	width: 36%;
	position: absolute;
}
.section_header hr.left { }
.section_header hr.right {
	right: 0px;
	top: 0px;
}
.section_header span {
	width: 27%;
	display: block;
	margin: 0 auto;
}
.section_header small {
	margin-left: 20px;
	font-size: 16px;
	color: #7f8387;
	display: none;
}

h3.intro {
	font-weight: normal;
	padding-bottom: 50px;
}

h2.section_header {
	font-weight: normal;
	font-style: italic;
	font-size: 22px;
}


/* pricing charts section */
#pricing { }
#pricing .section_header {
	margin-bottom: 70px;
}
#pricing .section_header hr {
	width: 35%;
}
#pricing .price_wrapper {
	background-color: #fafafa;
	border: 1px solid #d9d9d9;
	box-shadow: 2px 5px 5px 2px #E8E8E8;
	border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	width: 321px;
	min-height: 375px;
	position: relative;
}
#pricing .price_wrapper.regular .header {
	background: url('/images/chart1.png') 0 0 no-repeat;
}
/*
#pricing .price_wrapper.pro {
	width: 331px;
	margin: 0 auto;
}
*/
#pricing .price_wrapper.pro .header {
	background: url('/images/chart2.png') 0 0 no-repeat;
}
#pricing .price_wrapper section .btn {
	left: 35%;
}
#pricing .price_wrapper .header {
	height: 98px;
	color: #fff;
	padding: 25px 0px 0px 40px;
}
#pricing .price_wrapper .header > span {
	font-size: 30px;
	font-style: italic;
}
#pricing .price_wrapper .header .price {
	font-size: 18px;
	top: 25px;
	position: relative;
	font-weight: bold;
}
#pricing .price_wrapper .header .price span {
	font-size: 30px;
	margin-right: 10px;
}
#pricing .price_wrapper .section {
	padding: 15px 30px;
}
#pricing .price_wrapper .section h3 {
	color: #535861;
	font-size: 17px;
	line-height: 22px;
}
#pricing .price_wrapper .section ul.perks {
	list-style-type: none;
	margin-left: 0px;
	margin-top: 18px;
}
#pricing .price_wrapper .section ul.perks li {
	padding: 3px 0px;
}
#pricing .price_wrapper .section ul.perks i {
	margin-right: 10px;
}
#pricing .price_wrapper .section .btn {
	position: absolute;
	bottom: 15px;
	left: 32%;
	font-weight: bold;
}
@media (min-width: 980px) {
	#pricing .price_wrapper.pro {
		position: relative;
		top: -20px;
		height: 420px;
		z-index: 9;
		box-shadow: 0px 0px 5px 4px #E8E8E8;
	}
}


/* Row Bar */

.row-tools {
    background: rgba(0, 0, 0, 0) url(/images/down-red.png) no-repeat scroll 50% -1px / auto padding-box border-box;
    border-top: 16px solid rgb(255, 69, 81);
    border-right: 0px solid rgb(255, 69, 81);
    border-bottom: 0px solid rgb(255, 69, 81);
    border-left: 0px solid rgb(255, 69, 81);
}

.section h1 {
    text-align: center;
    text-decoration: none solid rgb(35, 45, 51);
    text-rendering: optimizelegibility;
    font: normal normal bold 64px/85px Lato, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-bottom: 30px;
    font-size: 34px;
}

/*******/
.on-light {
    background-position: 50% 50%;
    text-decoration: none solid rgb(51, 51, 51);
    text-rendering: optimizelegibility;
    background: rgb(236, 236, 235) url(/images/bg1.jpg) no-repeat scroll 50% 50% / cover padding-box border-box;
    overflow: hidden;
}


.description {
    color: rgb(54, 58, 58);
    display: inline-block;
    height: 250px;
    text-align: left;
    text-decoration: none solid rgb(54, 58, 58);
    vertical-align: middle;
    width: 200px;
    border: 0px none rgb(54, 58, 58);
    margin: 14.399999618530273px 0px;
    outline: rgb(54, 58, 58) none 0px;
    padding: 5px 40px;
    clear: both;
    color: rgb(35, 45, 51);
    cursor: default;
    height: 42.4375px;
    max-width: 736px;
    text-align: center;
    text-decoration: none solid rgb(35, 45, 51);
    word-break: break-word;
    border: 0px solid rgb(224, 224, 224);
    font: normal normal normal 16px/21px Lato, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 102.40625px;
    outline: rgb(35, 45, 51) solid 0px;
    padding: 0px 89.59375px 67.1875px;
}/*#DIV_4*/

#IMG_8 {
    color: rgb(0, 0, 238);
    height: 360px;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 238);
    width: 477px;
    border: 0px none rgb(0, 0, 238);
    font: normal normal normal 16px/20.796875px source-sans-pro, sans-serif;
    outline: rgb(0, 0, 238) none 0px;
}/*#IMG_8*/




/*******/

.section {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    padding: 50px 0px;
}/*#DIV_1*/

.learn {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 332.5px 15px;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_2*/

.image-left {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    float: left;
    height: 1px;
    min-height: 1px;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 460px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 15px;
}/*#DIV_3, #DIV_64*/

#UL_8 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 136px;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 31px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 17px;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px;
}/*#UL_8*/

#LI_9 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 34px;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 31px;
    background: rgb(41, 41, 41) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
    transition: background 0.2s linear 0s;
}/*#LI_9*/

#SPAN_10, #SPAN_12, #SPAN_14, #SPAN_16 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    height: 18px;
    left: 6px;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 8px;
    width: 18px;
    background: rgb(65, 66, 69) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 1000px 1000px 1000px 1000px;
    font: normal normal normal 14px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
}/*#SPAN_10, #SPAN_12, #SPAN_14, #SPAN_16*/

#LI_11, #LI_13 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 34px;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 31px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
    transition: background 0.2s linear 0s;
}/*#LI_11, #LI_13*/

#LI_15 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 34px;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 31px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
    transition: background 0.2s linear 0s;
}/*#LI_15*/

#DIV_17 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 290px;
    left: 31px;
    position: absolute;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 26px;
    width: 312px;
    background: rgb(235, 236, 237) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    overflow: hidden;
}/*#DIV_17*/

#IMG_18 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    height: 290px;
    left: 0px;
    max-width: 100%;
    position: absolute;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 0px;
    width: 312px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    transition: left 0.3s ease-out 0s;
}/*#IMG_18*/

#IMG_19, #IMG_20 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    height: 289.53125px;
    left: 0px;
    max-width: 100%;
    position: absolute;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 0px;
    width: 312px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    transition: left 0.3s ease-out 0s;
}/*#IMG_19, #IMG_20*/

#DIV_21 {
    box-shadow: rgba(0, 0, 0, 0.0470588) -5px 0px 0px 0px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 180px;
    left: 183px;
    position: absolute;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 152px;
    width: 246px;
    background: rgb(13, 13, 13) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 12px 12px 12px 12px;
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_21*/

#DIV_22 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 136px;
    left: 23px;
    position: absolute;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 23px;
    width: 22px;
    background: rgb(51, 51, 51) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_22*/

#UL_23 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 75px;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 22px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 17px;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px;
}/*#UL_23*/

#LI_24, #LI_28 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 25px;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 22px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
    transition: background 0.2s linear 0s;
}/*#LI_24, #LI_28*/

#SPAN_25, #SPAN_27 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    height: 12px;
    left: 5px;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 6px;
    width: 12px;
    background: rgb(65, 66, 69) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 1000px 1000px 1000px 1000px;
    font: normal normal normal 14px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
}/*#SPAN_25, #SPAN_27*/

#LI_26 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 25px;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 22px;
    background: rgb(41, 41, 41) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
    transition: background 0.2s linear 0s;
}/*#LI_26*/

#SPAN_29 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    height: 12px;
    left: 5px;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 6px;
    width: 12px;
    background: rgb(65, 66, 69) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 1000px 1000px 1000px 1000px;
    font: normal normal normal 14px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
}/*#SPAN_29*/

#DIV_30 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 136px;
    left: 45px;
    position: absolute;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 23px;
    width: 179px;
    background: rgb(242, 242, 246) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    overflow: hidden;
}/*#DIV_30*/

#IMG_31 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    height: 133.625px;
    left: 0px;
    max-width: 100%;
    position: absolute;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 0px;
    width: 179px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    transition: left 0.3s ease-out 0s;
}/*#IMG_31*/

#IMG_32, #IMG_33 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    height: 134px;
    left: 0px;
    max-width: 100%;
    position: absolute;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 0px;
    width: 179px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    transition: left 0.3s ease-out 0s;
}/*#IMG_32, #IMG_33*/

.proof-content {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    float: right;
    height: 279px;
    min-height: 1px;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 460px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 15px 0px 40px;
}/*#DIV_34*/

.proof-content h3 {
    box-sizing: border-box;
    color: rgb(56, 64, 71);
    height: 33px;
    text-decoration: none solid rgb(56, 64, 71);
    text-rendering: optimizelegibility;
    width: 407px;
    border: 0px none rgb(56, 64, 71);
    font: normal normal 500 30px/33px 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
    margin: 0px 0px 15px -2px;
    outline: rgb(56, 64, 71) none 0px;
}/*#H3_35*/

.proof-content p {
    box-sizing: border-box;
    color: rgb(100, 102, 108);
    height: 130px;
    text-decoration: none solid rgb(140, 152, 158);
    text-rendering: geometricprecision;
    width: 405px;
    border: 0px none rgb(140, 152, 158);
    font: normal normal normal 16px/26px 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
    margin: 0px 0px 17px;
    outline: rgb(140, 152, 158) none 0px;
}/*#P_36*/

.callout-link {
    box-sizing: border-box;
    color: rgb(56, 64, 71);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    text-decoration: none solid rgb(56, 64, 71);
    text-rendering: geometricprecision;
    width: 197px;
    border: 0px none rgb(56, 64, 71);
    font: normal normal bold 16px/16px 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
    margin: 30px 0px 0px;
    outline: rgb(56, 64, 71) none 0px;
}/*#A_37*/

#icon-arrow-right-dark {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(56, 64, 71);
    cursor: pointer;
    display: inline-block;
    height: 12px;
    text-decoration: none solid rgb(56, 64, 71);
    text-rendering: geometricprecision;
    vertical-align: middle;
    width: 18px;
    background: rgba(0, 0, 0, 0) url(https://wac.a8b5.edgecastcdn.net/80A8B5/static-assets/assets/new-marketing/icon-arrow-right-7cdfbf214a36c8187100235ab81168cd.png) repeat scroll 0px 0px / 18px padding-box border-box;
    border: 0px none rgb(56, 64, 71);
    font: normal normal bold 16px/16px 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
    margin: -1px 0px 0px;
    outline: rgb(56, 64, 71) none 0px;
}/*#SPAN_38, #SPAN_62, #SPAN_79*/

#DIV_39 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 271px;
    max-width: 100%;
    min-width: 768px;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 920px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 332.5px 120px;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_39*/

#DIV_39:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(34, 34, 34);
    display: table;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 1px;
    content: ' ';
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_39:after*/

#DIV_39:before {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: table;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 1px;
    content: ' ';
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_39:before*/

.image-right {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    float: left;
    height: 1px;
    left: 460px;
    min-height: 1px;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 460px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 15px;
}/*#DIV_40*/

#IMG_41 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: none;
    float: right;
    height: auto;
    left: 15px;
    max-width: 418px;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 100%;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#IMG_41*/

#DIV_42, #DIV_66 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 430px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_42, #DIV_66*/

#UL_43 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 90px;
    left: 222px;
    position: absolute;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 28px;
    width: 141px;
    z-index: 4;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px;
}/*#UL_43*/

#LI_44, #LI_46, #LI_49, #LI_52, #LI_54 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 141px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
}/*#LI_44, #LI_46, #LI_49, #LI_52, #LI_54*/

#SPAN_45 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: inline-block;
    height: 8px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 45px;
    background: rgb(237, 137, 137) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal 14px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 8px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
    transition: opacity 0.2s linear 0s;
}/*#SPAN_45*/

#SPAN_47 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: inline-block;
    height: 8px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 65px;
    background: rgb(198, 171, 237) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal 14px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 8px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
    transition: opacity 0.2s linear 0s;
}/*#SPAN_47*/

#SPAN_48 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: inline-block;
    height: 8px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 35px;
    background: rgb(237, 237, 237) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal 14px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 8px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
    transition: opacity 0.2s linear 0s;
}/*#SPAN_48*/

#SPAN_50 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: inline-block;
    height: 8px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 30px;
    background: rgb(237, 237, 237) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal 14px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 8px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
    transition: opacity 0.2s linear 0s;
}/*#SPAN_50*/

#SPAN_51 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: inline-block;
    height: 8px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 95px;
    background: rgb(237, 137, 137) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal 14px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 8px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
    transition: opacity 0.2s linear 0s;
}/*#SPAN_51*/

#SPAN_53 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: inline-block;
    height: 8px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 85px;
    background: rgb(237, 137, 137) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal 14px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 8px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
    transition: opacity 0.2s linear 0s;
}/*#SPAN_53*/

#SPAN_55 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: inline-block;
    height: 8px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 50px;
    background: rgb(198, 171, 237) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal 14px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 8px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
    transition: opacity 0.2s linear 0s;
}/*#SPAN_55*/

#SPAN_56 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: inline-block;
    height: 8px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 40px;
    background: rgb(237, 237, 237) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal 14px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 8px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
    transition: opacity 0.2s linear 0s;
}/*#SPAN_56*/

#IMG_57 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    height: 322px;
    left: 25px;
    max-width: 419px;
    position: absolute;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 0px;
    width: 419px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#IMG_57*/

#DIV_58 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    float: right;
    height: 271px;
    min-height: 1px;
    position: relative;
    right: 460px;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 460px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 30px 0px 15px;
}/*#DIV_58*/

#H3_59 {
    box-sizing: border-box;
    color: rgb(56, 64, 71);
    height: 33px;
    text-decoration: none solid rgb(56, 64, 71);
    text-rendering: optimizelegibility;
    width: 417px;
    border: 0px none rgb(56, 64, 71);
    font: normal normal 500 30px/33px 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
    margin: 56px 0px 15px -2px;
    outline: rgb(56, 64, 71) none 0px;
}/*#H3_59*/

#P_60 {
    box-sizing: border-box;
    color: rgb(140, 152, 158);
    height: 104px;
    text-decoration: none solid rgb(140, 152, 158);
    text-rendering: geometricprecision;
    width: 415px;
    border: 0px none rgb(140, 152, 158);
    font: normal normal normal 16px/26px 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
    margin: 0px 0px 17px;
    outline: rgb(140, 152, 158) none 0px;
}/*#P_60*/

#A_61 {
    box-sizing: border-box;
    color: rgb(56, 64, 71);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    text-decoration: none solid rgb(56, 64, 71);
    text-rendering: geometricprecision;
    width: 209px;
    border: 0px none rgb(56, 64, 71);
    font: normal normal bold 16px/16px 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
    margin: 30px 0px 0px;
    outline: rgb(56, 64, 71) none 0px;
}/*#A_61*/

#DIV_63 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 318px;
    max-width: 100%;
    min-width: 768px;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 920px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 332.5px 60px;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_63*/

#DIV_63:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(34, 34, 34);
    display: table;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 1px;
    content: ' ';
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_63:after*/

#DIV_63:before {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: table;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 1px;
    content: ' ';
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_63:before*/

#IMG_65 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: none;
    height: auto;
    max-width: 418px;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 100%;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#IMG_65*/

#SPAN_67 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    height: 10px;
    left: 5px;
    opacity: 0;
    position: absolute;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 200px;
    width: 10px;
    z-index: 0;
    background: rgb(255, 121, 84) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 1000px 1000px 1000px 1000px;
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    transition: top 0.4s linear 0s, opacity 0.4s linear 0s;
}/*#SPAN_67*/

#SPAN_68 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    height: 7px;
    left: 85px;
    opacity: 0;
    position: absolute;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 200px;
    width: 23px;
    z-index: 0;
    background: rgb(105, 219, 212) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 1000px 1000px 1000px 1000px;
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    transition: top 0.4s linear 0s, opacity 0.4s linear 0s;
}/*#SPAN_68*/

#SPAN_69 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    height: 23px;
    left: 8px;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: -8px;
    width: 7px;
    background: rgb(105, 219, 212) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 1000px 1000px 1000px 1000px;
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#SPAN_69*/

#SPAN_70 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    height: 13px;
    left: 274px;
    opacity: 0;
    position: absolute;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 120px;
    width: 13px;
    z-index: 0;
    background: rgb(66, 180, 214) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 1000px 1000px 1000px 1000px;
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    transition: top 0.4s linear 0s, opacity 0.4s linear 0s;
}/*#SPAN_70*/

#SPAN_71 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    height: 10px;
    left: 359px;
    opacity: 0;
    position: absolute;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 200px;
    width: 32px;
    z-index: 0;
    background: rgb(118, 214, 145) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 1000px 1000px 1000px 1000px;
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    transition: top 0.4s linear 0s, opacity 0.4s linear 0s;
}/*#SPAN_71*/

#SPAN_72 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    height: 32px;
    left: 11px;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: -11px;
    width: 10px;
    background: rgb(118, 214, 145) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 1000px 1000px 1000px 1000px;
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#SPAN_72*/

#IMG_73 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    height: 335px;
    left: 0px;
    max-width: 418px;
    position: absolute;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    top: 0px;
    width: 418px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#IMG_73*/

#DIV_74 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    float: right;
    height: 318px;
    min-height: 1px;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: geometricprecision;
    width: 460px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 15px 0px 40px;
}/*#DIV_74*/

#H3_75 {
    box-sizing: border-box;
    color: rgb(56, 64, 71);
    height: 66px;
    text-decoration: none solid rgb(56, 64, 71);
    text-rendering: optimizelegibility;
    width: 407px;
    border: 0px none rgb(56, 64, 71);
    font: normal normal 500 30px/33px 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
    margin: 70px 0px 15px -2px;
    outline: rgb(56, 64, 71) none 0px;
}/*#H3_75*/

#BR_76 {
    box-sizing: border-box;
    color: rgb(56, 64, 71);
    display: block;
    text-decoration: none solid rgb(56, 64, 71);
    text-rendering: optimizelegibility;
    border: 0px none rgb(56, 64, 71);
    font: normal normal 500 30px/33px 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
    outline: rgb(56, 64, 71) none 0px;
}/*#BR_76*/

#P_77 {
    box-sizing: border-box;
    color: rgb(140, 152, 158);
    height: 104px;
    text-decoration: none solid rgb(140, 152, 158);
    text-rendering: geometricprecision;
    width: 405px;
    border: 0px none rgb(140, 152, 158);
    font: normal normal normal 16px/26px 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
    margin: 0px 0px 17px;
    outline: rgb(140, 152, 158) none 0px;
}/*#P_77*/

#A_78 {
    box-sizing: border-box;
    color: rgb(56, 64, 71);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    text-decoration: none solid rgb(56, 64, 71);
    text-rendering: geometricprecision;
    width: 218px;
    border: 0px none rgb(56, 64, 71);
    font: normal normal bold 16px/16px 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
    margin: 30px 0px 0px;
    outline: rgb(56, 64, 71) none 0px;
}/*#A_78*/

